@{
    ViewData["Title"] = "Welcome";
    ViewData["PageTitle"] = "Next-gen Voice and Video Chat";
}

@section HeadScripts{
    <environment names="Staging,Production">
        <link rel="preload" href="~/scripts/game.min.js" as="script" />
    </environment>
    <environment names="Development">
        <link rel="preload" href="~/scripts/game.js" as="script" />
    </environment>

    <link rel="stylesheet" type="text/css" href="~/stylesheets/intro.css" />
}


<div id="mainContent">
    <div>
        <a asp-area="" asp-controller="Game" asp-action="Index" class="link-button">Play!</a>
    </div>
</div>
